@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.navbar {
    min-width: 100vw;
    max-height: 5vh;
    overflow: hidden;
    top: 1px;
    position: absolute;
    color: white;
    background-color: black;
    /* display: inline-flex; */
    /* flex-flow: row nowrap; */
    transition: max-height 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s
}

.buttonbar {
    font-size: 20px;
    height: 5vh;
    align-items: center;
    padding: 0px 20px;
    float: right;
    width: auto;
    display: inline-flex;
    position: relative;
}

.underline {
    font-family: 'ClashDisplay-Light';
}

.underline::before, .underline::after {
    content: '';
    position: absolute;
    display: flex;
    width: 0%;
    height: 1px;
    bottom: 0%;
    /* left: 0%; */
    margin-bottom: 5px;
    background: white;
}

.underline::before {
    left: -0.5px;
}

.underline::after {
    right: 0.5px;
    background: white;
    transition: width 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.underline:hover::before {
    background: white;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.underline:hover::after {
    background: transparent;
    width: 100%;
    transition: 0s;
}